.common-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 10% 0px 10%;
    background-color: #FFFBEF;
    height: 450px;
    position: relative;
    width: 83vw;
    left: 50%;
    transform: translateX(-50%);
}
.save-more {
    background-color: #FFF;
}
.common-section-title {
    font-size: 70px;
    font-weight: 600;
    color: #121116;
    width: 80%;
}
.save-more .common-section-title {
    font-size: 60px;
    width: 70%;

}
.common-section-content {
    font-size: 18px;
    color: #605D6C;
    margin-top: 10px;
    width: 80%;
}

.save-more .common-section-content {
    width: 65%;
}
.btn-get-started {
    background-color: #7557FF;
    color: #FFF;
    margin-top: 30px;
}
