
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 10%;
    background-color: #FFFBEF;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #121116;
}




.header-btn .btn-sign-in {
    background-color: #FFFBEF;
}

.header-btn .btn-sign-up {
    background-color: #7557FF;
    color: #FFF;
}

