.Services {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Service_top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
    text-align: center;

}
.Services_top-Text {
    color: #605D6C;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.Service_top-header {
    width: 470px;
}

.Title {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
}






.Service_wapper_card {
    display: flex;
    gap: 22px;
}

.Card {
    text-align: center;
}

.Service_card {
    width: 370px;
    border-radius: 12px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0px 20px 70px 0px rgba(18, 17, 22, 0.05);
    cursor: pointer;

}

.Card>img {
    padding: 40px;
}

.Service_Text {
    font-size: 16px;
    padding: 20px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(96, 93, 108, 1);
}

.Service_Name {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.Service_Text-3 {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
    padding: 20px;
    color: rgba(96, 93, 108, 1);
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

.Business {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 160px 10% 0px 10%;
}

.Business_Right {
    margin-left: 132px;
}

.Business_Right-Text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(96, 93, 108, 1);
    padding-bottom: 6px;
    margin-top: 16px;
}

.Business_Right-Value {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}

.circle-1 {
    width: 58px;
    height: 58px;
    background-color: rgba(255, 198, 49, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;

}

.circle-2 {
    width: 58px;
    height: 58px;
    background-color: rgba(255, 121, 78, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;

}

.circle-3 {
    width: 58px;
    height: 58px;
    background-color: rgba(64, 91, 236, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;

}

.Business_Right-Value>p {
    font-size: 18px;
    font-weight: 600;
    padding-left: 18px;
    padding-right: 18px;
    line-height: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.Testimonial {
    display: flex;
    padding: 50px 10% 160px 10%;
}

.Testimonial_card {
    width: 370px;
    height: 272px;
    border: 1px solid #E8E7EC;
    box-shadow: 0px 20px 70px 0px rgba(18, 17, 22, 0.07);
    border-radius: 12px;
    cursor: pointer;
}

.Testimonial_wapper-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.Testimonial_card-1 {
    padding: 30px;
}

.Testimonial_card-1-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Testimonial_card-1-avarta {
    width: 54px;
    height: 54px;
}

.Testimonial_card-inf {
    padding-right: 30%;
}

.Testimonial_card-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(18, 17, 22, 1);
}

.Testimonial_card-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(96, 93, 108, 1);
}

.Testimonial_round {
    width: 36px;
    height: 36px;
    background-color: rgba(255, 251, 239, 1);
    border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    font-weight: 600;

}

.Testimonial_Text {
    margin-top: 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(96, 93, 108, 1);
}


.Testimonial_right{
    padding-left: 30px;
}
.Testimonial_title {
    font-size: 40px;
    font-weight: 600px;
    line-height: 50px;
    color: rgba(18, 17, 22, 1);
    position: relative;
   
}

.underline{
    cursor:pointer;
    height: 2px;
    width: 22px;
    margin: 0 2px;
    background-color: rgba(18, 17, 22, 1);
    border-radius: 1px;
    display: inline-block;
}

.keep-color {
    background-color: rgba(117, 87, 255, 1);
}

.underline:hover{
    background-color: rgba(117, 87, 255, 1);
}
